.input-box {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding: 12px 16px 12px 36px;
  height: 40px;
  width: 40vw;
  border-radius: 6px;
  border: none;
}

.input:focus-visible {
  outline: none;
}

.input-label {
  position: absolute;
  cursor: pointer;
  left: 14px;
}
