.container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding: 12px 16px;
  height: 40px;
  width: 40vw;
  border-radius: 6px;
  border: none;
}

.paddingForLabel {
  padding-left: 36px;
}

.input:focus-visible {
  outline: none;
}

.label {
  position: absolute;
  cursor: pointer;
  left: 14px;
  top: 9px;
}

.label svg {
  width: 14px;
  height: 14px;
}
