.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 42px;
  height: 100%;
  width: 100%;
}

.iconBox svg {
  width: 40px;
  height: 40px;
}

.title {
  font-size: 22px;
  text-align: center;
  color: #808080;
  width: 200px;
}
