.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 32px;
  width: 100%;
  background-color: var(--secondary-background-color);
  border-radius: 6px;
  height: 120px;
}
