.h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  display: block;
}

.h2 {
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
}

.h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  display: block;
}

.primary {
  color: var(--primary-text-color);
}

.secondary {
  color: var(--secondary-text-color);
}

.center {
  text-align: center;
}
