:root {
  --primary-text-color: #000;
  --secondary-text-color: #808080;
  --link-color: #0064eb;
  --link-hover-color: #0050b8;
  --background-color: #f9f9f9;
  --secondary-background-color: #fff;
  --accent-color: #0064eb;
  --secondary-color: #808080;
  --white: #fff;
}
