.container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: auto;
  color: var(--secondary-text-color);
  gap: 16px;
}

.bodyBox {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.rightArrow {
  transform: rotate(180deg);
}
