.large {
  font-weight: 500px;
  font-size: 24px;
  line-height: 29px;
}

.small {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.color {
  color: var(--link-color);
}

.color:hover {
  color: var(--link-hover-color);
}
